@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This application takes in information about your favorite book, movie, and genre.</p>
    <p>Simply click on the headbar to navigate to each section.</p>
</div>
