@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The information on this site is solely for the purpose of a school assignment and will not be used commercially.</p>
